$headerHeight: 2.5rem;

.header {
  width: 100%;
  position: fixed;
  top: 0;

  z-index: 9998;
  font-family: var(--font-header);
}

.header__background {
  width: 100%;
  height: calc($headerHeight * 2);
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateY(-50%);
  transition: transform 500ms;
}

.header__background--open {
  transform: translateY(0);
}

.header__container {
  --header-height: 2.5rem;

  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
}

.navbar {
  width: 100%;
  height: $headerHeight;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  @apply text-lg;
}

.navbar__name--thin {
  font-weight: 100;
}

.navbar__toggle-icon {
  width: 2rem;
}

.menu {
  width: 100%;
  transform: translateY(-5rem);
  opacity: 0;
  transition: all 500ms;
}

.menu--open {
  opacity: 1;
  transform: translateY(0);
}

.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  .menu__list {
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 960px) {
  .header__background {
    height: $headerHeight;
    transform: translateY(0);
  }

  .header__container {
    flex-direction: row;
    align-items: center;
    max-width: 960px;
    margin: auto;
  }

  .navbar__toggle-button {
    display: none;
  }

  .menu {
    width: auto;
    transform: translateY(0);
    opacity: 1;
    margin: auto;
  }
}
