.project {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  // top: 0;
  scroll-snap-align: start;
  align-items: flex-end;
  z-index: 10;
  background-color: var(--black);
}

.project__background {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: -1;
  background-color: var(--black);

  background-position: 24% 47%;
  background-size: 300%;
  animation: 60s linear moving-background infinite;
  opacity: 0.4;
  filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(140deg);
}

.project__background::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--background);
  opacity: 0.1;
}

.project__content {
  margin: 1rem;
}

.project__name {
  @apply tracking-wide  text-xl;
}

.name__emphasis {
  @apply font-bold;
}

.project__description {
  @apply text-sm;
}

@keyframes moving-background {
  0% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  20% {
    transform: scale(1.1) translate3d(-5%, 5%, 0);
  }
  40% {
    transform: scale(1.2) translate3d(-10%, 10%, 0);
  }
  60% {
    transform: scale(1.3) translate3d(-15%, 15%, 0);
  }
  80% {
    transform: scale(1.4) translate3d(-20%, 20%, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
