.skill {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  color: var(--black);
  border-radius: 8px;
  will-change: transform;
  @apply border border-gray-300 max-w-sm;

  .skill__title {
    width: max-content;
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
  }

  .title__icon {
    width: 24px;
    height: 24px;
    stroke: white;

    background-color: transparent;
  }

  .title__name {
    @apply tracking-wider;
  }

  .skill_description {
    @apply text-sm  tracking-wide leading-relaxed;
  }

  .skill__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .content__title {
    color: var(--primary);
    @apply tracking-normal;
  }

  .skill__likes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    @apply text-sm font-medium;
  }

  .skill__list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    @apply text-sm font-medium;
  }
}
