@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #34d399;
  --primary: #10b981;
  --primary-dark: #16a34a;

  --secondary: #4281a4;

  --white: #fafafa;
  --black: #171717;
  --gray: #a3a3a3;

  --background: #262a33;

  --text-display: "Roboto Slab", sans-serif, serif;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  color: var(--white);
}

body {
  width: 100%;

  background-color: #262a33;
}

.text-display {
  font-family: "Roboto Slab", sans-serif, serif;
}
