.about {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0rem;
  padding: 1rem 2rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: black;
}

.about__pic {
  display: none;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  padding: 1rem;
  font-family: var(--font-roboto);

  @apply max-w-md;
}

.about__title {
  font-weight: bolder;
  text-align: center;
  color: var(--primary);
  @apply text-lg tracking-widest;
}

.about__presentation {
  white-space: pre-line;
  @apply text-sm tracking-wide leading-relaxed;
}

.skills {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  z-index: 10;
  gap: 1rem;
  background-color: var(--background);
}

.skills__presentation {
  margin: 0 auto;
  @apply max-w-lg;
}

.skills__title {
  font-weight: bolder;
  @apply text-4xl tracking-wider;
}

.skills__detail {
  color: var(--white);
  @apply max-w-lg leading-relaxed text-gray-400;
}

.skills__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .about__pic {
    width: 12rem;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;

    object-fit: cover;
  }

  .about__title {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 2rem;
  }

  .skills {
    justify-content: center;
  }

  .skills__list {
    flex-direction: row;
    gap: 0;
    margin: 0 auto;
  }
}
