.about {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0rem;
  padding: 1rem 2rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: black;
}

.about__pic {
  display: none;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  padding: 1rem;
  font-family: var(--font-roboto);

  @apply max-w-md;
}

.about__title {
  font-weight: bold;
  text-align: center;
  @apply text-lg tracking-widest;
}

.about__presentation {
  white-space: pre-line;
  @apply text-sm tracking-wide leading-relaxed;
}

.skills {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  z-index: 10;
  gap: 1rem;
  background-color: white;
}

.skills__title {
  color: var(--black);
  margin: 1rem auto;
  font-weight: bold;
  letter-spacing: 3px;
  @apply text-lg;
}

.contact {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  z-index: 10;

  .contact__description {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
  }

  .contact__button {
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    border-radius: 8px;
    @apply tracking-widest;
  }
}

@media (min-width: 768px) {
  .about__pic {
    width: 12rem;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;

    object-fit: cover;
  }

  .about__title {
    text-align: left;
  }
}

@media (min-width: 960px) {
  .about {
    flex-direction: row;
    gap: 2rem;
  }
}
