.about {
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0rem;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: black;
}

.about__pic {
  display: none;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  font-family: var(--font-roboto);

  @apply max-w-md;
}

.about__presentation {
  white-space: pre-line;
  @apply text-sm tracking-wide leading-relaxed;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    gap: 2rem;
  }
  .about__pic {
    width: 12rem;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;

    object-fit: cover;
  }

  .about__title {
    text-align: left;
  }
}
