$item-height: 2.1rem;

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/home.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    filter: blur(2px);
  }

  .hero__content {
    position: relative;
    margin: auto;
  }

  .hero__title {
    margin: auto;
    text-align: center;
    letter-spacing: 0.5rem;
    @apply text-2xl leading-relaxed;
  }
}

.list {
  width: max-content;
  height: $item-height;
  margin: auto;

  overflow: hidden;

  & .item {
    height: $item-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 0.25rem 0.5rem;
  }

  & span:first-child {
    animation: text-animation 8s infinite;
    margin-top: 2rem;
  }
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: $item-height * -1;
  }
  30% {
    margin-top: $item-height * -1;
  }
  40% {
    margin-top: $item-height * 2 * -1;
  }
  60% {
    margin-top: $item-height * 2 * -1;
  }
  70% {
    margin-top: $item-height * -1;
  }
  80% {
    margin-top: $item-height * -1;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
