.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @apply max-w-2xl;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
  @apply text-sm;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  font-weight: 400;

  @apply text-white bg-gray-700;

  &:focus {
    outline-color: var(--primary);
  }

  &:invalid {
    outline-color: red;
  }
}

.button {
  width: max-content;
  display: flex;
  gap: 0.5rem;
  margin: auto;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.button__icon {
  width: 24px;
}

.form__confirm {
  margin: auto;

  @apply tracking-wide;
}

.form__confirm--error {
  color: red;
}

@media (min-width: 960px) {
  .form {
    width: 80%;
  }
}
